<h1>Home</h1>

<h2>Top members</h2>
  <% @top_members.each do |member| %>
    <p><%= member.name %></p>
  <% end %>

<h2>Find user:</h2>
<form action="/" method="get">
  <label for="member">Username: </label>
  <input id="member"
  name="member"
  type="text"
  velue=" <%= params[:member] %> "
  placeholder="John">

  <input type="submit">
</form>


<ol>
<% @members.each do |member| %>
  <li><%= member.name %></li>
<% end %>
</ol>

<%= link_to "About", about_path %>
